@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body{
    margin: -50px;
    font-family: "Poppins";
    max-width: 100%;
    max-height: 100%;
}

h1, h2, h3{
    color: black;
    font-weight: 900;
}
p{
    line-height: 2em;
    color: #0F0905;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.2rem;
    font-weight: 500;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 5px 50px;
    border-bottom:1px solid grey;
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 15vh;
    background: white;
    text-align: center;
    padding: 0px 20px;
}

.main-header{
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-style: normal;
    padding-top: 30px;
    cursor: pointer;
}
.header-text{
    text-decoration: none;
    color: red;
    cursor: pointer;
}
.main-header:hover{
    transform: scale(1.1);  
}

.pages-link{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-top: 40px;
    color: black;
}
.pages-link a{
    margin-left: 50px;
    color: black;
    text-decoration: none;
}
.pages-link a:hover{
    text-decoration: underline;
}

.social{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-top: 40px;
    padding-right: 30px;
}
.social a{
    color: red;
    text-decoration: none;
    margin-left: 10px;
}
.social a:hover{
    font-size: 30px;
}
.fa-facebook{
    font-size: 20px;
}
.fa-square-x-twitter{
    font-size: 20px;
}


.banner{
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    left: 50px;
    top: 50px;
    height: 100vh;
}


.banner-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 1290px;
    max-height: 100%;
    padding: 70px 50px;
    gap: 2em;
    
}
.quote h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 3em;

}
span{
    font-family: "Dancing Script", cursive;
    font-weight: 800;
    font-style: normal;      
    color: red;
    font-size: 43px;
    border: 2px solid red;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom-right-radius: -100px;
    border-bottom-left-radius: -100px;  
}

.quote p {
font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-style: normal;
font-size: 1.2rem;
font-weight: 500;
}

.banner-images{
    height: 100%;
    background-image: url(images2/chelsea-audibert-hV1gChgMa-k-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: change 10s infinite ease-in-out;
    border: 5px solid white;
    border-radius: 8px;
    grid-row: span 2;
    
}
.banner-images img:hover{
    position: relative;
    top: 0;
}



@keyframes change{
    0%{
        background-image: url(images2/ales-krivec-QnNqGoCnBg0-unsplash.jpg);
    }
    10%{
        background-image: url(images2/mohamed-hassouna-N4gtuEZ5gWc-unsplash.jpg);
    }
    20%{
        background-image: url(images2/nick-karvounis-jN_M0McVNeI-unsplash\ \(1\).jpg);
    }
    30%{
        background-image: url(images2/yeh-xintong-go3DT3PpIw4-unsplash\ \(1\).jpg);
    }
    40%{
        background-image: url(images2/angelo-pantazis-2-U0A2tNYhM-unsplash.jpg);
    }
    50%{
        background-image: url(images2/conor-brown-sqkXyyj4WdE-unsplash.jpg);
    }
    60%{
        background-image: url(images2/miti-R1ql7fk3I1Y-unsplash\ \(1\).jpg);
    }
    70%{
        background-image: url(images2/wesual-click-rsWZ-P9FbQ4-unsplash.jpg);
    }
    100%{
        background-image: url(images2/bas-peperzak-XNNurImW1xM-unsplash.jpg);
    }



}


.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-size: cover;
    background-position: center;
    position: relative;
    left: 50px;
    top: 50px;
    height: 100%;
    padding-top: 40px;
    padding-left: 20px;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;

}
.about-image{
    background-image: url(images2/portrait-smiling-young-male-baker-showing-freshly-baked-bread-wooden-shovel.jpg);
    background-size: cover;
    padding-top: 20px;
    margin-top: 150px;
    margin-left: 100px;
    width: 450px;
    height: 450px;
    border-radius: 100%;
}

.about-header{
    color: red;
    font-size: 3em;
    text-decoration: none;
    font-family: "Dancing Script", cursive;
    font-weight: 800;
    font-style: normal;      
    
}
.about-text{
    padding: 50px;
}
.about-text p{
    font-size: 20px;
}
.product{
    border: 2px solid white;
    position: relative;
    left: 50px;
    top: 50px;
    height: 100vh;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
}
.product h1 {
    grid-column: span 4;
    justify-self: center;
}
.product-header{
    color: red;
    font-size: 3em;
    text-decoration: none;
    font-family: "Dancing Script", cursive;
    font-weight: 800;
    font-style: normal;      
    
}
.images{
    grid-column: span 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 100%;
    gap: 2em;
}
.img-1, .img-2, .img-3, .img-4{
    border: 1px solid white;
    border-radius: 10px;
    margin: 0;
    background: rgb(245, 237, 237);
    box-shadow: 3px 5px 10px rgba(0,0,0,0.2);
    display: grid;
    grid-template-columns: 1fr;
}
img{
    height: 45vh;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
}
.img-1 h2, .img-2 h2, .img-3 h2, .img-4 h2{
    display: flex;
    padding-left: 20px;
}

img:hover{
    position: relative; 
}
.product p{
    font-weight: 900;
    justify-self: center;
}
.price{
    background-color: red;
    color: white;
    padding: 5px;
    box-shadow: 3px 5px 10px rgba(247, 3, 3, 0.7);
}
.product-button{
    padding-top: -5px;
}




.button{
    border: none;
    color: red;
    text-decoration: none;
    background: none;
}
.button:hover{
    cursor: pointer;
    text-decoration: underline;
}
footer {
    background-color: red;
    width: 100%;
    margin-left: 50px;
    margin-top: 100px;
}

.footer-content{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer h2{
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}
.slogan {
    position: relative;
    top: -25px;
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}
.footer-socials {
    grid-column: span 5;
    justify-self: center;
}
.social-media {
    display: flex;
}
.social-media li{
    list-style-type: none;
    margin-left: 10px;
}
.social-media a{
    color: white;
}
.footer-content p{
    font-size: 14px;
}


@keyframes fade-in {
    from {scale: 0.8; opacity: 0;}
    to {scale: 1; opacity: 1;}
}


@media screen and (max-width: 884px) {
    body{
        min-width: 880px;
    }
   header{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 30vh;
   }
   .main-header{
    grid-column: span 2;
    justify-self: center;
   }
   header ul{
    margin-top: -30px;
   }
   .social {
    justify-self: end;
   }
   .banner-content {
    width: 884px;
    margin-top: 80px;
   }
   .quote h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2em;

}


span{
  font-family: "Dancing Script", cursive;
  font-weight: 800;
  font-style: normal;      
  color: red;
  font-size: 1em;
  border: 2px solid red;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom-right-radius: -100px;
  border-bottom-left-radius: -100px;  
}
.quote p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    font-weight: 500;
    }
.banner-button {
  border: 3px solid red;
  border-radius: 10px;
  display: block;
  text-decoration: none;
  width: 150px;
  height: 50px;

}

.about{
    width: 870px;
}
.about-image{
    margin-left: 10px;
    margin-top: 130px;
}

.about-header {
    font-size: 2em;
}
.about-text p {
    font-size: 1em;
}

.images{
    width: 820px;
    
}
.img-1, .img-2, .img-3, .img-4 {
    grid-column: span 2;
}

footer {
    margin-top: 650px;
    max-width: 884px;
}

   

}

@media screen and (max-width: 430px) {

    body{
        width: 430px;
    }
    header {
        width: 430px;
    }
    .main-header{
        margin-left: -50px;
        width: 200px;
    }
    .pages-link{
        margin-left: -100px;
        width: 200px;
    }
    .social {
        display: none;
    }
    .banner-content {
        width: 400px;
    }

    .quote {
        width: 400px;
        margin-left: -40px;
    }
    .quote p {
        font-size: 0.9em;
    }
    .hero-images {
        display: none;
    }
    .about {
        animation: none;
    }
    
    .about-image {
        display: none;
    }

    
    .about-header {
        margin-left: 30px;
    }
    .about-text {
        margin-left: -50px;
        margin-top: -150px;
    }
    .product {
        width: 400px;

    }
    .product-header {
        margin-left: -70px;
        font-size: 2em;
    }
    .images {
        width: 350px;
        margin-left: 10px;
    }
    .img-1, .img-2, .img-3, .img-4 {
        grid-column: span 4;
    }

    footer {
        margin-top: 105em;
        width: 430px;
    }
    .footer-header .slogan{
        width: 200px;
    }
    .weekly, .services, .showcase, .help {
        display: none;
    }
}



