body{
    max-width: 100%;
    margin: 0;
    margin-top: -20px;
}
nav{
    background-color: white;
    border-bottom: 1px solid gray;
    padding: 5px 5px;
    height: 80px;
}
header{
    display: flex;
    justify-content: space-between;
}
.main-header{
    padding: 15px;
    padding-bottom: 0;
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}
.header-text {
    text-decoration: none;
    color: red;
}
.social{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-top: 20px;
    padding-right: 30px;
}
.social a{
    color: red;
    text-decoration: none;
    margin-left: 10px;
}
.social a:hover{
    font-size: 30px;
}
.fa-facebook{
    font-size: 20px;
}
.fa-square-x-twitter{
    font-size: 20px;
}
.images{
    padding: 40px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
}

.img{
    background-color: white;
    box-shadow: 3px 5px 10px rgba(0,0,0,0.2);
    width: 100%;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;    
}

img{
    height: 200px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
}


p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.2rem;
    font-weight: 900;
    justify-self: center;
}
.price{
    background-color: red;
    color: white;
    padding: 5px;
    box-shadow: 3px 5px 10px rgba(247, 3, 3, 0.7);
}

@media screen and (max-width: 430px){
    .images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: -30px;
    
    }
    .img {
        width: 180px;
    }
    img {
        width: 100%;
    }
    
}